
body {
    background-color: white;
    color: black;
}

h2 {
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    color: black
}

#container {
    margin: auto;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
}
.box {
    height: 70px;
    width: 70px;
    border: 3px solid grey;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 70px;
    border-style: dashed;
    
}
.green {
    background-color: lightgreen;
    color: black;
}

.yellow {
    background-color: lightgoldenrodyellow;
    color: black;
}
.black {
    background-color: lightgray;
    color: black;
}
.text {
    margin: auto;
    width: 300px;
}

.colour {
    border-color: whitesmoke;
}

