
body {
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
    font-size: 60px;
}

#container {
    margin: auto;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
}
.box {
    height: 70px;
    width: 70px;
    border: 3px solid grey;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 70px;
}
.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}
.text {
    margin: auto;
    width: 300px;
}










